.op-op{
margin: 20% 50% auto 50%;
overflow: hidden;
}

/* zoid-paypal-buttons-uid_ced790c26b_mtq6mze6nde */
.paypal-buttons{
    /* position: absolute;  */
  margin: 20% 25% ; 
  overflow: hidden;
  position: fixed;
  }
  